<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="palm-dialog-title" id="subDetailsTxt"></div>
	<div class="palm-dialog-separator"></div>
	<div class="textfield-group textHintColor" x-mojo-focus-highlight="true">
		<div class="title">
           <div id="url" x-mojo-element="TextField" style="color:#3E3C3D;"></div>
		</div>	
    </div>
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
           <div id="feedTitle" x-mojo-element="TextField" style="color:#3E3C3D;"></div>
		</div>	
    </div>
	<div id="popup">
          <div id="firstSelector" x-mojo-element="ListSelector"></div>	
    </div>
	<div class="palm-dialog-separator" style="margin-top:8px;"></div>
	<div x-mojo-element="ToggleButton" id="att-toggle" style="margin-top:1px;"></div>
	<div class="title left" style="color: #3E3C3D; margin-top:10px; font-size:20px;" id="submitFeedtxt"></div>
	<div class="palm-dialog-separator" style="margin-top:18px;"></div>
</div>
<div id="errorStatus" style="color:#CC0011"></div>
<div style="margin-top:2px;"></div>
<div class="palm-dialog-buttons">
	<div id="confirmFeed" class="palm-button affirmative" x-mojo-touch-feedback="immediatePersistent"></div>
    <div id="cancelFeed" class="palm-button" x-mojo-touch-feedback="immediatePersistent"></div>
</div>
