<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="palm-dialog-title" id="subDetailsTxt"></div>
	<div class="palm-dialog-separator"></div>
	<div class="textfield-group textHintColor" x-mojo-focus-highlight="true">	
		<div class="title" id="editTitle" style="color:#3E3C3D;"></div>
    </div>
	<div class="textfield-group" x-mojo-focus-highlight="true">
		<div class="title">
           <div id="textField" x-mojo-element="TextField" style="color:#3E3C3D;"></div>
		</div>	
    </div>
</div>
<div class="palm-dialog-buttons">
	<div id="applyBtn" class="palm-button affirmative" x-mojo-touch-feedback="immediatePersistent"></div>
    <div id="removeBtn" class="palm-button negative" x-mojo-touch-feedback="immediatePersistent"></div>
	<div id="closeBtn" class="palm-button" x-mojo-touch-feedback="immediatePersistent"></div>
</div>
