<div class="palm-row" x-mojo-tap-highlight="momentary">
<div class="palm-row-wrapper">
		<div class="palm-dashboard-icon-container feedlist-icon-container_story">
        <div id="dashboard-icon" class="palm-dashboard-icon #{unread}">
        </div>			
      </div>
        <div class="story-date">#{date}</div>
		<div class="#{unreadStyle}">#{title}</div>
		<div class="#{previewStyle} truncating-text" style="font-style:italic;font-size:14px;padding-bottom:4px;">#{url}</div>
		<div class="#{previewStyle} truncating-text" style="font-size:14px;padding-bottom:18px;max-width:85%;">#{headLine}</div>
</div>
</div>
