<div class="palm-group">
    <div class="palm-group-title" id="group1Text"><span></span></div>
           <div class="palm-list">
			<div class="palm-row first" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="firstSelector" x-mojo-element="ListSelector"></div>
				</div>
			</div> 
			<div class="palm-row">
                <div class="palm-row-wrapper"> 
					  <div class="palm-row-wrapper">
                       <div x-mojo-element="ToggleButton" id="att-toggle2"></div>
                       <div class="title left" style="color: #FFFFFF;" id="group2Text"></div>
                </div>
                </div>
            </div>
			<div class="palm-row">
                <div class="palm-row-wrapper"> 
					  <div class="palm-row-wrapper">
                       <div x-mojo-element="ToggleButton" id="att-toggle5"></div>
                       <div class="title left" style="color: #FFFFFF;">RSS Cover Flow</div>
                </div>
                </div>
            </div>
			<div class="palm-row last">
                <div class="palm-row-wrapper"> 
					  <div class="palm-row-wrapper">
                       <div x-mojo-element="ToggleButton" id="att-toggle4"></div>
                       <div class="title left" style="color: #FFFFFF;" id="shakeReloadText"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
	<div class="palm-group">
    <div class="palm-group-title" id="notifyTitleText"><span></span></div>
           <div class="palm-list">
			<div class="palm-row first">
                <div class="palm-row-wrapper"> 
					  <div class="palm-row-wrapper">
                       <div x-mojo-element="ToggleButton" id="att-toggle3"></div>
                       <div class="title left" style="color: #FFFFFF;" id='notificationLabel'></div>
                </div>
                </div>
            </div>
			<div class="palm-row">
                <div class="palm-row-wrapper"> 
					  <div class="palm-row-wrapper">
                       <div x-mojo-element="ToggleButton" id="att-toggle6"></div>
                       <div class="title left" style="color: #FFFFFF;">Vibration</div>
                </div>
                </div>
            </div>
				<div class="palm-row last" x-mojo-tap-highlight="momentary">
                <div class="palm-row-wrapper"> 
					  <div class="palm-row-wrapper">
            <div x-mojo-element="ListSelector" id="intervalList"></div> 
			</div>
			</div>	
                </div>
                </div>
            </div>
	<div class="palm-group">
    <div class="palm-group-title"><span>Sea Bird 3 Info (Tap for help)</span></div>
           <div class="palm-list">
			<div class="palm-row last" id="infoBox" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="appVersion" style="margin-left:15px;margin-top:5px;font-size:18px;"></div>
					<div style="margin-left:15px;margin-top:2px;font-size:18px;">Released: October 2011</div>
					<div style="margin-left:15px;margin-top:2px;font-size:18px;padding-bottom:5px;">&copy; 2011 fioware.com.</div>
				</div>
			</div> 
        </div>
    </div>
    <div style="margin-top:20px;"></div>
<div x-mojo-element="Button" id="button-2"></div>
<div x-mojo-element="Button" id="button-1"></div>  