<div class="palm-row" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
		<div class="palm-dashboard-icon-container feedlist-icon-container">
        <div id="dashboard-icon" class="palm-dashboard-icon #{icon}">
        </div>			
      </div>  
	    <div class="#{dashboard} #{badge}">
        <span style="color:#FFFFFF;">#{count}</span></div> 
		<div class="menuTitle truncating-text">#{name}</div>
		<div class="menuPreview truncating-text">#{description}</div>
	</div>
</div>