<div class="palm-group">
<div class="palm-group-title" x-mojo-loc='' id="subDetailsTxt"></div>
	<div class="palm-list">
   		<div class="palm-row">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="textField" name="textField" x-mojo-element="TextField" style="color:#FFFFFF;"></div>
				</div>
			</div>
		</div>
			<div class="palm-row" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="firstSelector" x-mojo-element="ListSelector"></div>
				</div>
			</div> 
		<div class="palm-row last">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="nameField" name="nameField"  x-mojo-element="TextField" style="color:#FFFFFF;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div x-mojo-element="Button" id="confirmFeed"></div>
<div x-mojo-element="Button" id="cancelFeed"></div>
<div id='Drawer' x-mojo-element="Drawer">
<div x-mojo-element="WebView" id="web-view"></div>
</div>
